<h1>Gifstory</h1>
<GiphySearch as |search|>
  <GiphyResults 
    @term={{search.currentSearchTerm}} 
    @results={{search.searchResults}}
    @termChanged={{search.searchTermChanged}}
  />
</GiphySearch>
{{outlet}}
